
    /*COMPORTMENT*/
    .--flex{ display: flex; }
    .--wrap{flex-wrap: wrap;}
    .--nowrap{flex-wrap: nowrap;}
    .--row { flex-direction: row;}
    .--space {justify-content: space-around;}
    .--space-bet {justify-content: space-between;}
    .--end{justify-content: flex-end ;}
    .--center-bloc {margin: 0 auto;}
    .--mr100 {margin-right: 100px;}
    .--mr50 {margin-right: 50px;}
    .--mr25 {margin-right: 50px;}
    .--ml50 {margin-left: 50px;}
    .--mt100 {margin-top: 100px;}
    .--mt50 {margin-top: 50px;}
    .--mt25 {margin-top: 25px;}

    /*TITLE*/

    .title--XXL{ font-size: x-large; }
    .title--XL{ font-size: large; }
    .title--XS{ font-size: small; }
    /* PARAGRAPH*/
    .paragraph {list-style-type: none;}
    .paragraph--XXL{ font-size: x-large; }
    .paragraph--XL{ font-size: large; }
    .paragraph--S{ font-size: small; }
    .paragraph--XS{ font-size: x-small; }
    /* COLOR */
    .--gray {color: gray;}
    .--yellow {color: rgb(240, 240, 146)}
    .--blue {color:  rgb(17, 14, 180);}
    .--red {color: rgb(165, 4, 4);}
    .--border{
    border: 1px solid black;
    }
    .--bold {
        font-weight: 800;
    }
    /*FORM*/
    .btn {
    border-radius: 20px;
    padding: 5px;
    }

    .btn--blue{ background-color: rgb(17, 14, 180);}
    .btn--white{background-color: seashell;}

    /*STYLE*/
    .border-radius--XXL{
    border-radius: 3%;
    }

    /*modification générale*/
    /*.hr {background-color: lightgray;}*/
    body{ font-family: Arial, Helvetica, sans-serif; background-color: rgb(224, 225, 240);}
    ul{ list-style: none; } 
    ul li a { text-decoration: none;}
    ul li a:visited{ color: black;}

    /* page*/
    .main-container {
    width: 70%;
    margin: 0 auto;

    background-color: white;
    }

    #logo{
    width: 200px;
    }

    .profil{width: 200px;}
    header { width: 100%;}
    header nav { width: 100%; }
    header nav ul{ width: 100%; }
    main article { width: 90%; }

    .art1 { width: 70%; }
    .art2{border: 1px solid black;}
    .comp {
    background-color: rgb(241, 241, 241);
    padding: 10px 5px;
    }

    
    .container-img {
        width: 31%;
        
    }
    
    .container-img img {
        background-size: cover;
        max-width:100%;
        max-height: 100%;
    }

    
   
    @media(max-width:900px){
        nav{
         flex-wrap: wrap;
         flex-direction: column;
         text-align: center;
         padding: 10px;
     
         
        }

        .art2{
           
            display: block;
            text-align: center;
            }

  
        .container-img{
           margin-bottom: 20px;
           text-align: center;
           flex-wrap: wrap;
           width: 100%;
           
        }

        .art{
            text-align: center;
        }
        
        .container-profil{
            text-align: center;
            width: 100%;
        }
}


